#contenedor{
  margin-right: 50px;
  margin-left: 50px;
}

/* imagen debajo de menu */

.banner{
  background-image: url("../images/pronto-avia.png");
}

.first-section {
  margin: 0 25px;
}

.first-section .cover-text {
  left: 0;
  border: 0;
}
  /* external css: flickity.css */
  /* carousel */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family:  Gill sans;}

.direction {
  background: #d8d8d8;
  height: 375px;
  padding-left: 35%;
  letter-spacing: 1px;
  line-height: 21px;
  color: #4e5258;
  padding-top: 50px;

}
