#contenedor {
  margin-right: 50px;
  margin-left: 50px;
}

/* imagen debajo de menu */

.banner {
  background-image: url("../images/banner-bg.png");
}

.first-section .cover-text {
  left: 0;
  border: 0;
}

/* external css: flickity.css */

/* carousel */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Gill sans;
}

.gallery {
  background: #d8d8d8;
  height: 375px;
}

.gallery-cell {
  width: 250px;
  height: 250px;
  margin-right: 20px;
  margin-left: 20px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */

.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.img {
  text-align: center;
}

.information {
  color: red;
}

.direction_1 {
  background: #d8d8d8;
  height: 375px;
  width: 60%;
  letter-spacing: 1px;
  color: #4e5258;
  padding-top: 50px;
  margin-left: 0;
  line-height: 2.5;
  margin-top: 50px;
  text-align: center;
}

.direction_2 {
  background-image: url("../images/coffee.png");
  background-repeat: no-repeat;
  height: 375px;
  width: 40%;
  margin-top: 50px;
}

.direction_3 {
  background-image: url("../images/coffee.png");
  background-repeat: no-repeat;
  height: 375px;
  width: 25%;
  margin-top: 50px;
}

.direction_4 {
  background-image: url("../images/proximamente.png");
  background-repeat: no-repeat;
  height: 375px;
  width: 75%;
  margin-top: 50px;
}

@media (min-width: 1200px) {
  .first-section .cover-text {
    transform: initial;
  }
}
