#contenedor{
  margin-right: 50px;
  margin-left: 50px;
}

/* imagen debajo de menu */
.banner{
  background-image: url("../img/pronto-avia.png");
}
.first-section {
  margin: 0px;
}
.first-section .cover-text {
  left: 0;
  border: 0;
}
  /* external css: flickity.css */
  /* carousel */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family:  Gill sans;}
.direction{

}
.direction_1 {
  height: 575px;
  width: 25%;
  letter-spacing: 1px;
  color: #4e5258;
  padding-top: 50px;
  margin-left: 15%;
  line-height: 2.5;
}
.direction_2 {
  height: 575px;
  width: 25%;
  letter-spacing: 1px;
  color: #4e5258;
  padding-top: 50px;
  line-height: 2.5;
}
.direction_3 {
  height: 575px;
  width: 30%;
  letter-spacing: 1px;
  color: #4e5258;
  padding-top: 50px;
  line-height: 2.5;
}
