.first-section,
.second-section,
.third-section,
.fourth-section{
    height: auto;
    margin-top: 15px;
}


.first-section {
  margin-top: 0;
  padding: 0;
}
.first-section__content {
  position: relative;
}
.first-section .cover-image {
    background-color: white;
    bottom: 0;
    position: absolute;
    right: 15px;
    width: 35%;
    padding: 0;
    z-index: 1;
}

.big-image,
.first-section .big-image {
  width: 100%;
  height: auto;
  background-color: #ebebeb;
}

/*SECOND SECTION*/


.section-row {
  display: table;
  vertical-align: top;
  width: 100%
}

 /*FOURTH SECTION*/
.fourth-section .fourth-section__column-left {
    padding-left: 50px;
    padding-right: 15px;
    display: table-cell;
    vertical-align: middle;
    width: 60%;
    text-align: left;

}

.fourth-section .fourth-section__column-right {
    padding-right: 30px;
    padding-left: 15px;
    display: table-cell;
    width: 40%;
}
.content_wraper{
  height: 100%;
  display: table;
}
.content_body{
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding-left: 0;
}
.right-content{
  height: 415px;
padding-left: 96px;
}
.web-avia-button{
    width: 150px;
    background-color: #4a4f55;
    color: #FFF;
    border: 0;
    text-transform: uppercase;
    font-family: inherit;
    height: 50px;
    margin-top: 29px;
}
.titulo{
  padding-bottom: 45px;
}
.detalle{
  padding-bottom: 31px;
}
.description{
  margin-top: 29px;
  padding-bottom: 29px;
}
/**/
@media (min-width: 768px) {
  .first-section .cover-text{
    width: 25%;
  }
  .first-section,
  .fourth-section{
      height: auto;
      margin: 25px 50px;
  }
  .first-section{
    margin-top: 0;
  }
    .first-section .cover-image {
        bottom: initial;
        right: -35px;
        top: 60%;
        transform: translateY(-55%);
        width: 40%;
    }
    .first-section .cover-text {
        top: 60px;
        transform: translateY(20%);
        border:0px;
    }
}
@media (min-width: 768px){
.first-section .cover-text {
  left: 0;
  }
}
@media (min-width: 992px) {

.first-section .cover-image {

    width: 60%;
}
}

@media (min-width: 1200px) {
    .first-section .cover-image {

    }
}
/* external css: flickity.css */
/* carousel */
* {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

body { font-family:  Gill sans;}

.gallery {
background: #d8d8d8;
height: 400px;

}
.column{
  margin-top: 10px;
  width: 30%;
}

.gallery-cell {
width: 250px;
height: 250px;
margin-right: 20px;
margin-left: 20px;
background: #8C8;
counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
display: block;
text-align: center;
content: counter(gallery-cell);
line-height: 200px;
font-size: 80px;
color: white;
}

.img{
text-align: center;

}
.flickity-prev-next-button.previous {
    left: 700px;
}
.flickity-enabled {
    padding-top: 50px;
    position: absolute;
}
/* pie pagina */
.link{
  color: white;
}
