.pie_pagina .bordes_pie {
    box-sizing: border-box;
    width: 1024px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    padding-top: 20px;
  }
  .pie_pagina .bordes_pie {
    box-sizing: border-box;
    width: 1024px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    padding-top: 20px;
}
