footer {
  background-color: #4a4f55;
}

.footer {
  height: 60px;
  @media (min-width: $screen-sm-min) {
    height: 80px;
  }

  &__copyright {
    background: transparent url('#{$img-assets}/logo-footer.png') no-repeat center;
    background-size: 80px;
    height: 100%;
    overflow: hidden;
    width: 100px;
    span {
      display: block;
      padding-top: 1000px;
    }
  }
}